{% extends 'base.html' %}
{% block title %} About {% endblock title %}
{% block body %}


<div class="container">
    <br>
    <h5>Features:</h5>
    <ul>
        <li>
            <a >Home Page: Add ToDo titles and descriptions, then click submit to add to the list.</a>
        </li>
        <li>
            <a >Update Page: Edit the selected ToDo, and then submit.</a>
        </li>
        <li>
            <a >Search: Search for the typed word in ToDo titles and descriptions .</a>
        </li>
        <li>
            <a >Delete: Delete any ToDo after completing the task.</a>
        </li>
    </ul>
    
    <br>
    <h5>This was made by:</h5>
    <ul>
        <li>
            <a >Samarth Reddy</a>
        </li>
        <li>
            <a >B19109</a>
        </li>
        <li>
            <a >IIT Mandi CSE</a>
        </li>
    </ul>
</div>
{% endblock body %}